# Environment
.env

# Database files
*.db

# Keep folders but ignore contents
uploads/*
!uploads/.gitkeep

instance/*
!instance/.gitkeep

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# IDE
.vscode/

# OS
.DS_Store