<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>

        Change Password
        
    </title>

    <link rel="stylesheet"
          href="{{ url_for(
          'static',
          filename='css/style.css'
    ) }}">

</head>

<body>

<div class="vault-auth-container">

    <div class="vault-auth-card">

        <h1>

            Change Password

        </h1>

        <p>

            Update your vault password

        </p>

        <form method="POST">


            {% if error %}

            <div class="error-message">

                {{ error }}

            </div>

            {% endif %}

            <input
                type="password"
                name="old_password"
                placeholder="Current Password"
                required
            >

            <input
                type="password"
                name="new_password"
                placeholder="New Password"
                required
            >

            <div class="button-group">

                <button id="updateBtn">

                    Update Password

                </button>

                <button
                    type="button"
                    class="cancel-btn"
                    onclick="location.href='/settings'"
                >

                    Cancel

                </button>

            </div>

        </form>

    </div>

</div>

</body>
</html>