<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>

        Vault Verification

    </title>

    <link rel="stylesheet"
          href="{{ url_for(
          'static',
          filename='css/style.css'
    ) }}">

</head>

<body>

<div class="vault-auth-container">

    <div class="vault-auth-card">

        <h1>

            Unlock Secure Vault 🔓

        </h1>


        <p>

            🔐 Authenticate to access encrypted vault

        </p>


        <form method="POST">

            <input
                type="password"
                name="vault_password"
                placeholder="Enter Vault Password"
                required
            >


            <button type="submit">

                Unlock Vault

            </button>

        </form>

    </div>

</div>

</body>

</html>